@font-face {
  font-family: "Product Sans";
  src: url("../fonts/ProductSans-Medium.woff2") format("woff2"),
    url("../fonts/ProductSans-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Product Sans";
  src: url("../fonts/ProductSans-Regular.woff2") format("woff2"),
    url("../fonts/ProductSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Product Sans";
  src: url("../fonts/ProductSans-Thin.woff2") format("woff2"),
    url("../fonts/ProductSans-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Product Sans";
  src: url("../fonts/ProductSans-Black.woff2") format("woff2"),
    url("../fonts/ProductSans-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Product Sans";
  src: url("../fonts/ProductSans-Bold.woff2") format("woff2"),
    url("../fonts/ProductSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Product Sans";
  src: url("../fonts/ProductSans-Light.woff2") format("woff2"),
    url("../fonts/ProductSans-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
  scroll-behavior: smooth;
}
body {
  font-size: 1.6rem;
  font-family: "Product Sans";
  position: relative;
}
.container {
  width: 100%;
  margin: auto;
  height: 100vh;
  overflow: hidden;
}
.container_header {
  max-width: 1400px;
  margin: auto;
}
.menu__btn {
  display: none;
}
.wrapper {
  width: 100%;
  /* max-width: 1600px; */
  margin: auto;
}
.hidden {
  display: none;
}
.header__fixed {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background-color: #fff;
  transition: 0.8s;
}
.header__fixed.scroll {
  background: rgba(0, 0, 0, 0.8);
  -webkit-backdrop-filter: saturate(180%) blur(10px);
  backdrop-filter: saturate(180%) blur(10px);
}
.header__fixed.scroll a,
.header__fixed.scroll h3 {
  color: #fff;
}
.header {
  display: flex;
  align-items: center;
  padding: 1rem 0 1rem;
}
.logo {
  display: flex;
  align-items: center;
  gap: 2.5rem;
  margin-right: 5rem;
  cursor: pointer;
  text-decoration: none;
}
.logo img{
  width: 7rem;
}
.logo h3 {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 2.9rem;
  color: #000;
}
.navigation {
  list-style: none;
  display: flex;
}
.navigation li {
  margin: 0 2.5rem;
}
.navigation a {
  text-decoration: none;
  font-size: 2rem;
  line-height: 2.4rem;
  color: #8d8d8d;
}
.wrapper {
  max-width: 1400px;
  margin: auto;
}
.form__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  transform: translateY(12rem);
}
.form__container > div {
  width: 50%;
}
.form__illusion {
  margin-left: 5rem;
}
form {
  width: 100%;
  display: grid;
  row-gap: 2.5rem;
}
input {
  padding-left: 5.5rem;
  width: 100%;
  height: 6rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 2.9rem;
  outline: none;
  background-color: #e8e8e8;
  border: 0;
  border-radius: 1rem;
  appearance: none;
  -webkit-appearance: none;
}
::placeholder {
  font-size: 2.4rem;
  line-height: 2.9rem;
  font-family: "Product Sans";
  color: #a8a8a8;
}
input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}
.double {
  display: flex;
  gap: 1rem;
}
.double .input__control {
  width: 50%;
}
.name{
  padding-left: 3.5rem;
}
.double select {
  width: 100%;
  height: 6rem;
  border-radius: 1rem;
  border: 0;
  background-color: #e8e8e8;
  padding-left: 5.5rem;
  outline: none;
  cursor: pointer;
  font-size: 2.4rem;
  line-height: 2.9rem;
  color: #a8a8a8;
  appearance: none;
}
.input__control {
  position: relative;
  pointer-events: all;
}
.input__control img {
  position: absolute;
  top: 2rem;
  left: 2rem;
}
.form__btn {
  outline: none;
  cursor: pointer;
  padding: 1.8rem 0;
  background-color: #444b6e;
  color: #fff;
  font-size: 2rem;
  font-weight: 400;
  line-height: 2.4rem;
  border: 0;
  border-radius: 1rem;
}
.form__title {
  font-weight: 700;
  font-size: 4rem;
  line-height: 4.8rem;
  margin-bottom: 2.7rem;
}
.form__background img {
  width: 100%;
  transform: translateY(8rem);
}
.form-mob-bottom,
.form-mob-top {
  display: none;
}
/* Submit Page */
.submit-page {
  height: 100vh;
  width: 100w;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content {
  text-align: center;
}
.thank {
  font-size: 6.4rem;
  font-weight: 700;
  line-height: 7.7rem;
  margin: 2rem 0 1rem;
}
.thank-desc {
  font-size: 3.6rem;
  line-height: 4.3rem;
}
@media (max-width: 450px) {
  .header__wrapper{
    display: none;
  }
  .container {
    display: flex;
    flex-direction: column;
  }
  .form__container {
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    transform: unset;
  }
  .form-mob-bottom,
  .form-mob-top {
    display: block;
    position: relative;
  }

  .form__background {
    display: none;
  }
  .form-mob-top img,
  .form-mob-bottom img {
    width: 100%;
  }
  .form-mob-top {
    top: -2rem;
  }
  .form-mob-bottom {
    bottom: -2rem;
  }
  .form__illusion {
    display: none;
  }
  .form__title {
    text-align: center;
    font-weight: 700;
    font-size: 2.2rem;
    line-height: 2.4rem;
  }
  .form__container > div {
    width: 100%;
  }
  form {
    row-gap: 2rem;
  }
  input,
  .double select {
    height: 4rem;
    font-size: 1.8rem;
  }
  ::placeholder {
    font-size: 1.8rem;
  }
  .input__control img {
    top: 1rem;
  }
  .double select {
    font-size: 1.8rem;
  }
  .double select option {
    font-size: 1.6rem;
  }
  .form__btn {
    padding: 1rem;
    font-size: 1.8rem;
  }
}
