{% extends 'panel/base.html' %}
{% load static %}

{% block content %}
<div class="tabs">
    <a class="active" href="/panel">Tekshirilgan</a>
    <a href="pending/">Javob kutmoqda</a>
    <a href="cancelled/">Bekor qilingan</a>
</div>
<ul class="user-list">
    {% for app in apps %}
    <li class="user-item">
        <div class="user__info">
            <p>
                <img src="{% static 'images/person.svg' %}" alt=""/>
                {{ app.surname }} {{ app.name }}
            </p>
            <p>
                <img src="{% static 'images/call.svg' %}" alt=""/>
                {{ app.phone_number }}
            </p>
            <p>
                <img src="{% static 'images/mail.svg' %}" alt=""/>
                {{ app.email }}
            </p>
            <p>
                <img src="{% static 'images/loc.svg' %}" alt=""/>
                {{ app.region }}, {{ app.age }}
            </p>
            <p>
                <img src="{% static 'images/date.svg' %}" alt=""/>
                {{ app.created_at}}
            </p>
        </div>
        <div class="user__action">
            <button class="btn check">
                <img src="{% static 'images/done.svg' %}" alt="">
            </button>
            <button class="btn wait">
                <img src="{% static 'images/time.svg' %}" alt="">
            </button>
            <button class="btn cancel">
                <img src="{% static 'images/close.svg' %}" alt="">
            </button>
        </div>
    </li>
    {% endfor %}
</ul>
{% endblock content %}
